body{
    background-color: #F9F9F9;
    margin-top: 13px;
    margin-left: 0px;
    margin-right: 0px;
    margin-bottom: 0px;
}

/*herunder beskrives navigationsbaren med logo og burgermenu*/
.logo{
    margin-left: 17px ;
    width: 0%;
}

.burgermenu img{
    display: block;
    margin-left: auto;
    margin-right: 29px;
}

nav{
    height: 81px;
    display: flex;
}

/*herunder definerer jeg topperen med profil, tekst og sociale links*/
section{
    background-color: #627264;
    margin: 0px;
    margin-left: 0px;
    margin-right: 0px;
    color: white;
    margin-bottom: 93px;
}

.topper{
    height: 258px;
    width: auto;
}

.sociale_topper{
    display: flex;
    justify-content: space-between;
}

.titel{
    text-align: center;
}
.profil{
    display: block;
    margin-left: auto;
    margin-right: auto;
}

/*herunder beskriver jeg det næste på siden som er introen til min side*/
.section_intro{
    height: 396px;
    margin-left: 36px;
    margin-right: 36px;
    border-radius: 17px;
}

.section_intro p{
    text-align: center;
    width: 304px;
    font-size: 14px;
}

.section_intro h3{
    text-align: center;
    margin: 7px;
    font-size: 24px;
}
.section_intro h4{
    text-align: center;
    margin: 7px;
    font-size: 25px;
    text-decoration: underline;
}

a{
    text-decoration: none;
}

.projekter_btn{
    display: flex;
    border-radius: 19px;
    border: none;
    background-color: white;
    color: #627264;
    align-items: center;
    justify-content: center;
    margin: auto;
    width: 158px;
    height: 36px;
    box-shadow: 1.5px 1.5px 6px #000000;
}

/*herunder beskriver jeg sectionen med bollywood dance studio samt alle andre sectioners tekst og knap*/
.section_projekter{
    margin-left: 36px;
    margin-right: 36px;
    border-radius: 17px;
    height: 740px;
}

.bds_billede{
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.section_projekter p{
    text-align: center;
}

.section_projekter h2{
    text-align: center;
}

/*herunder definerer jeg sectionen med how to projektet*/
.howto_billede{
    display: block;
    margin-left: auto;
    margin-right: auto;
}

/*herunder definerer jeg sectionen med iværksætterkonkurrencen*/
.hobbihub_billede{
    display: block;
    margin-left: auto;
    margin-right: auto;
}

/*herunder beskriver jeg footeren*/
.footer{
    height: 192px;
}

.footer h2{
   text-align: center; 
}

.cv_download_footer{
    display: flex;
    margin-left: 29px;
    margin-right: auto;
}

.e-mail_footer{
    display: flex;
    margin-left: auto;
    margin-right: auto;
}

.kontakt_footer{
    display: flex;
    margin-left: auto;
    margin-right: 600px;
}

.sociale_footer{
    display: flex;
    justify-content: space-between;
}

/*herunder laver jeg media queries til ipad version*/
@media screen and (max-width: 810px){
/*herunder gemmer jeg navmenuen*/
    .navmenu{
        display: none;
    }

    .burgermenu{
        display: block;
        margin-left: auto;
        margin-right: 29px;
    }
    .section_intro{
        height: 525px;
    }
    .section_intro p{
        display: block;
        margin-left: auto;
        margin-right: auto;
        font-size: 20px
    }
    .section_projekter{
    margin-left: auto;
    margin-right: auto;
    border-radius: 17px;
    height: 740px;
    width: 400px;
    font-size: 20px;
    }

    .section_intro{
        margin-left: auto;
        margin-right: auto;
        border-radius: 17px;
        width: 400px;
    }
    .footer {
        font-size: 20px;
    }
}

/*herunder laver jeg media queries til desktop version*/
@media screen and (min-width: 1281px){
/*herunder gemmer jeg burgermenuen*/
    .burgermenu{
        display: none;
    }
/*herunder viser jeg navmenuen frem og definerer den*/
    .navmenu{
        display: flex;
        font-size: 31px;
        margin-left:1521px;
        margin-right: auto;
    }
    .navmenu a{
        color: black;
        justify-content: space-between;
    }
    .navmenu .nav_kontakt{
        font-weight: bold;
    }
/*herunder definerer jeg toppen/profilen og sociale links*/
    .topper{
        height: 528px;
    }
    .profil{
        height: 215px;
        width: auto;
    }
    h2{
        font-size: 60px;
    }

    .cv_download_topper{
        margin-left: 600px;
    }

    .kontakt_topper{
        margin-right: 600px;
    }

    .sociale_topper{
        display: flex;
        justify-content: space-between;
    }
/*herunder definerer jeg sectionen med intro*/
    .section_intro{
        width: 1640px;
        height: 837px;
        border-radius: 180px;
        margin-left: auto;
        margin-right: auto;
    }
    .section_intro h3{
        font-size: 70px;
    }
    .section_intro h4{
        font-size: 55px;
    }
    .section_intro p{
        font-size: 35px;
        width: 1332px;
        text-align: center;
        margin-left: auto;
        margin-right: auto;
    }
    .projekter_btn{
        display: flex;
        border-radius: 66px;
        border: none;
        background-color: white;
        color: #627264;
        align-items: center;
        justify-content: center;
        margin: auto;
        width: 398px;
        height: 89px;
        box-shadow: 1.5px 1.5px 6px #000000;
        font-size: 51px;
    }
    .pil_ned{
        margin-left: auto;
        margin-right: auto;
        display: block;
        width: 32px;
        height: 39px;
    }
/*herunder definerer jeg sectionen med projekter*/
    .section_projekter{
        width: 1640px;
        height: 810px;
        border-radius: 180px;
        margin-left: auto;
        margin-right: auto;
        font-size: 30px;
    }

/*herunder definerer jeg footer med knap, skrift og sociale links */
    .footer{
        height: 526px;
    }
    .kontakt_btn{
        display: flex;
        border-radius: 66px;
        border: none;
        background-color: white;
        color: #627264;
        align-items: center;
        justify-content: center;
        margin: auto;
        width: 398px;
        height: 89px;
        box-shadow: 1.5px 1.5px 6px #000000;
        font-size: 51px;
        margin-bottom: 114px;

    }
    .cv_download_footer{
        margin-left: 600px;
    }
    .linkedin_footer{
        margin-right: 600px;
    }
    .sociale_footer{
        display: flex;
        justify-content: space-between;
    }
}