body{
    background-color: #F9F9F9;
    margin-top: 13px;
    margin-left: 0px;
    margin-right: 0px;
    font-family: futu;
}

/*herunder beskrives navigationsbaren med logo og burgermenu*/
.logo{
    margin-left: 17px ;
    width: 0%;
}

.burgermenu img{
    float: right;
    margin-right:29px ;
    margin-top: 13px;
}

nav{
    margin-bottom: 81px ;
}

/*herunder definerer jeg topperen med profil, tekst og sociale links*/
section{
    background-color: #627264;
    margin: 0px;
    margin-left: 0px;
    margin-right: 0px;
    color: white;
    margin-bottom: 93px;
}

.titel{
    text-align: center;
}

.profil{
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.cv_download_topper{
    display: flex;
    margin-left: 29px;
    margin-right: auto;
}

.e-mail_topper{
    display: flex;
    margin-left: auto;
    margin-right: auto;
}

.linkedin_topper{
    display: flex;
    margin-left: auto;
    margin-right: 24px;
}

/*herunder beskriver jeg det næste på siden som er introen til min side*/
.section_intro{
    height: 396px;
    margin-left: 36px;
    margin-right: 36px;
    border-radius: 17px;
}

.section_intro p{
    text-align: center;
    width: 304px;
    font-size: 14px;
}

.section_intro h3{
    text-align: center;
    margin: 7px;
    font-size: 24px;
}
.section_intro h4{
    text-align: center;
    margin: 7px;
    font-size: 20px;
}

a{
    text-decoration: none;
}

.projekter_btn{
    display: flex;
    border-radius: 19px;
    border: none;
    background-color: white;
    color: #627264;
    align-items: center;
    justify-content: center;
    margin: auto;
    width: 158px;
    height: 36px;
    box-shadow: 1.5px 1.5px 6px #000000;
}

.pil_ned{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: auto;
    margin-top: 10px;
}

/*herunder beskriver jeg sectionen med bollywood dance studio samt alle andre sectioners tekst og knap*/
.section_projekter{
    margin-left: 36px;
    margin-right: 36px;
    border-radius: 17px;
    height: 740px;
}

.bds_billede{
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.section_projekter p{
    text-align: center;
}

.section_projekter h2{
    text-align: center;
}

/*herunder definerer jeg sectionen med how to projektet*/
.howto_billede{
    display: block;
    margin-left: auto;
    margin-right: auto;
}

/*herunder definerer jeg sectionen med iværksætterkonkurrencen*/
.hobbihub_billede{
    display: block;
    margin-left: auto;
    margin-right: auto;
}

/*herunder beskriver jeg footeren*/
.footer{
    height: 254px;
}

.footer h2{
   text-align: center; 
}
.kontakt_btn{
    display: flex;
    border-radius: 19px;
    border: none;
    background-color: white;
    color: #627264;
    align-items: center;
    justify-content: center;
    margin: auto;
    width: 158px;
    height: 36px;
    box-shadow: 1.5px 1.5px 6px #000000;
}

.cv_download_footer{
    display: flex;
    margin-left: 29px;
    margin-right: auto;
}

.e-mail_footer{
    display: flex;
    margin-left: auto;
    margin-right: auto;
}

.linkedin_footer{
    display: flex;
    margin-left: auto;
    margin-right: 24px;
}